<section class='py-2'>
  <div class='row'>
    <div class='col-md-6 text-center'>
      <h1 class='display-4 mt-3 pt-5'>Keys to Drawing E-Book</h1>

      <p class='lead'>Learn to draw, the right way.</p>

      <form action='/checkout' method='POST'>
        <button type='submit' class='btn btn-light'>Buy ($59)</button>
      </form>
    </div>

    <div class='col-md-6'>
      <img
        src='/img/book.jpg'
        alt='Keys to Drawing - Bert Dodson'
        class='img-fluid'
        width='300px'
      />
    </div>
  </div>

</section>